@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,800;1,200;1,400;1,500&display=swap');

body {
  margin: 0;
}
html{
    font-family: 'Raleway', sans-serif;
}
.first{
    background: #EFEFEF;
    display: flex;
    margin: 20px;
}
.first-image{
    width: 300px;
    padding-top: 30px;
}
.first-text{
    padding: 80px;
    width: 450px;
}
.first-text article:nth-child(1){
    display: flex;
}
.first-text article:nth-child(1) h1:nth-child(1){
    font-weight: bold;
    font-size: 40px;
    color: #1D1D1D;
}
.first-text article:nth-child(1) h1:nth-child(2){
    font-size: 40px;
    font-weight: 100;
    margin-left: 15px;
}
.first-text p{
    line-height: 2;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1.5px;
    font-size: 13px;
    color: #1D1D1D;
}
.empty p{
    content: '';
    border-left: 2px solid black;
    height: 80px;
}
.menu{
    display: flex;
    position: relative;
    left: 460px;
    margin-top: 20px;
}
.menu i{
    position: relative;
    top: 17px;
    right: -17px;
}



.second{
    display: flex;
    padding: 50px;
    background: #EFEFEF;
    margin: 20px;
}
.second img{
    padding-top: 40px;
    padding-left: 70px;
}
.second-text{
    padding-left: 50px;
    padding-top: 80px;
    padding-right: 100px;
}
.second-text-heading{
    display: flex;
    align-items: center;
}
.light{
    font-size: 40px;
    font-weight: 100;
    margin-left: 15px;
}
.bold{
    font-size: 40px;
    font-weight: 800;
    margin-left: 15px;
}

.second-text-heading>p{
    width: 60px;
    border-top: 1px solid black;
    margin-right: 30px;
}
.second-text-paragraphs{
    line-height: 2;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1.5px;
    font-size: 13px;
    color: #1D1D1D;
}
.icons{
    padding: 20px;
    font-size: 15px;
}
.icons i{
    padding: 10px;
    margin-right: 15px;
    background: #909090;
    color: white;
}
.third{
    margin: 20px;
    overflow: hidden;
}


.forth{
    background: #EFEFEF;
    display: flex;
    margin: 20px;
}
.forth-image img{
    height: 400px;
    width: 650px;
    padding: 100px;
}
.forth-text{
    padding: 80px;
    width: 450px;
}
.forth-text article:nth-child(1){
    display: flex;
    margin-bottom: 10px;
}
.forth-text article:nth-child(1) h1:nth-child(1){
    font-weight: bold;
    font-size: 40px;
    color: #1D1D1D;
}
.forth-text article:nth-child(1) h1:nth-child(2){
    font-size: 40px;
    font-weight: 100;
    margin-left: 15px;
}
.forth-text p{
    line-height: 2;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1.5px;
    font-size: 13px;
    color: #1D1D1D;
}
.empty p{
    content: '';
    border-left: 2px solid black;
    height: 80px;
}



.fifth{
    background: #EFEFEF;
    display: flex;
    margin: 20px;
}
.fifth-images{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 100px;
}
.fifth-images img:nth-child(2){
    height: 300px;
    width: 550px;
}
.fifth-images img:nth-child(1), .fifth-images img:nth-child(3){
    height: 250px;
    width: 350px;
}



.sixth{
    background: #EFEFEF;
    margin: 20px;
}
.sixth-heading{
    display: flex;
    text-align: center;
    padding-left: 690px;
}
.sixth-heading h1:nth-child(1){
    font-weight: bold;
    font-size: 40px;
    margin-right: 15px;
    
}
.sixth-heading h1:nth-child(2){
    font-size: 40px;
    font-weight: 100;
}
.sixth>p{
    text-align: center;
    line-height: 2;
    font-weight: 300;
    font-style: italic;
    padding: 0 300px;
}

.sixth-mail-subject{
    display: flex;
    align-items: center;
}
.sixth-mail-subject p{
    border: 1px solid black;
    padding: 10px;
    padding-right: 170px;
    font-size: 13px;
    margin-right: 20px;
    position: relative;
    left: 500px;
    color: black;
}
.sixth-message p{
    border: 1px solid black;
    padding: 10px;
    padding-bottom: 50px;
    padding-right: 200px;
    margin-left: 500px;
    margin-right: 484px;
}
.sixth-button{
    background: #111111;
    color: white;
    padding: 10px 193px;
    margin-left: 500px;
}
.sixth>footer{
    font-size: 10px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}